@model IEnumerable<DataAbstraction.Models.SecVolume.SecVolumeLast3YearsDynamicModel>

@{
    int pp = ViewBag.year - 2;
    int p = ViewBag.year - 1;
}

<div class="container">
    <table class="table table-hover table-sm">
        <thead class="table-light">
            <tr>
                <th rowspan="2" style="border-left:black 1px solid; border-top:black 1px solid; border-bottom:black 1px solid;">тикер</th>
                <th rowspan="2" style="border-top:black 1px solid; border-bottom:black 1px solid;">имя</th>
                <th class="border border-dark border-bottom-0" style="text-align:center;">
                    @pp
                </th>
                <th colspan="2" class="border border-dark border-bottom-0" style="text-align:center;">@p</th>
                <th colspan="3" class="border border-dark border-bottom-0" style="text-align:center;">@ViewBag.year</th>
            </tr>
            <tr>
                <th class="border border-dark border-top-0" style="text-align:right;">
                    штук
                </th>
                <th style="text-align:right;">
                    %докупки
                </th>
                <th style="text-align:right;">
                    штук
                </th>
                <th style="border-left-color:black; border-left-width: 1px; text-align:right;">
                    %докупки
                </th>
                <th style="text-align:right;">
                    штук
                </th>
                <th style="border-right-color:black; border-right-width: 1px;text-align:right;">
                    объем
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td style="border-left-color:black; border-left-width: 1px;">
                    @Html.DisplayFor(modelItem => item.SecCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                    <td style="text-align:right;border-left-color:black; border-left-width: 1px;">
                    @Html.DisplayFor(modelItem => item.PreviousPreviousYearPieces)
                </td>
                <td style="text-align:right;border-left-color:black; border-left-width: 1px;">
                    @Html.DisplayFor(modelItem => item.PreviousYearChanges)
                    @{
                        if (item.PreviousYearChanges is not null)
                        {
                            <span>%</span>
                        }
                    }
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.PreviousYearPieces)
                </td>
                    <td style="text-align:right;border-left-color:black; border-left-width: 1px; background-color: @(@item.LastYearChanges > 0 && @item.LastYearChanges != 100 ? "lightgreen" : "")">
                    @Html.DisplayFor(modelItem => item.LastYearChanges)
                    %   
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.LastYearPieces)
                </td>
                <td style="text-align:right;border-right-color:black; border-right-width: 1px;">
                    @Html.DisplayFor(modelItem => item.LastYearVolume)
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
