@using DataAbstraction.Models.WishList
@using System.Text
@model IEnumerable<DataAbstraction.Models.SecVolume.SecVolumeLast2YearsDynamicModel>

@{
    int pp = ViewBag.year - 2;
    int p = ViewBag.year - 1;
    List<WishListItemModel> wishList = ViewBag.WishList;

    ViewData["Title"] = "SecVolume volume grows table";
}

<div class="container">
    <h3>Увеличение позиций в последние 2 года и данные по дивам сторонних сайтов</h3>
    <table class="table table-hover table-sm">
        <thead class="table-light">
            <tr>
                <th rowspan="2" style="border-left:black 1px solid; border-top:black 1px solid; border-bottom:black 1px solid;">
                    @*тикер*@
                    @if (ViewBag.SortMode == "byTiker")
                    {
                        <div>
                            тикер<span style="color:red;">&#9660;</span>
                        </div>
                    }
                    else
                    {
                        <div>
                            <a asp-controller="SecVolume" asp-action="SecVolumeLast3YearsDynamic"
                                asp-route-sortMode="byTiker" style="text-decoration: none">
                                тикер<span style="color:red;">&#9661;</span>
                            </a>
                        </div>
                    }

                </th>
                <th rowspan="2" style="border-top:black 1px solid; border-bottom:black 1px solid;">имя</th>
                <th class="border border-dark border-bottom-0" style="text-align:center;">
                    @pp
                </th>
                <th class="border border-dark border-bottom-0" style="text-align:center;">@p</th>
                <th colspan="3" class="border border-dark border-bottom-0" style="text-align:center;">
                    @ViewBag.year
                </th>
                <th class="border border-dark border-bottom-0" style="text-align:center; width:4.8em;">
                    @* wish top *@
                </th>
                @if (ViewBag.SmartLab == true)
                {
                    <th class="border border-dark border-bottom-0" style="text-align:center;">
                        <a href="https://smart-lab.ru/dividends/yield/" target="_blank">SmLab</a>

                    </th>
                }
                @if (ViewBag.Vsdelke == true)
                {
                    <th class="border border-dark border-bottom-0" style="text-align:center;">
                        <a href="https://vsdelke.ru/dividendy/" target="_blank">VSdelke</a>

                    </th>
                }
                @if (ViewBag.DohodDivs == true)
                {
                    <th colspan="2" class="border border-dark border-bottom-0" style="text-align:center;">
                        <a href="https://www.dohod.ru/ik/analytics/dividend" target="_blank">Dohod</a>
                    </th>
                }

            </tr>
            <tr>
                <th class="border border-dark border-top-0" style="text-align:center;">
                    штук
                </th>
                <th style="text-align:center;">
                    штук
                </th>
                <th style="border-left-color:black; border-left-width: 1px; text-align:right;">
                    %докупки
                </th>
                <th style="text-align:right;">
                    штук
                </th>
                <th style="border-right-color:black; border-right-width: 1px;text-align:right;">
                    @* объем*@

                    @if (ViewBag.SortMode == "byVolume")
                    {
                        <div>
                            Vol<span style="color:red;">&#9660;</span>
                        </div>

                    }
                    else
                    {
                        <div>
                            <a asp-controller="SecVolume" asp-action="SecVolumeLast3YearsDynamic"
                                asp-route-sortMode="byVolume" style="text-decoration: none">
                                Vol<span style="color:red;">&#9661;</span>
                            </a>
                        </div>
                    }
                </th>
                <th style="text-align:center;">
                    Wish
                </th>

                @if (ViewBag.SmartLab == true)
                {
                    <th class="border border-dark border-top-0" style="text-align:center;">
                        prev
                    </th>
                }
                @if (ViewBag.Vsdelke == true)
                {
                    <th class="border border-dark border-top-0" style="text-align:center;">
                        future
                    </th>
                }
                @if (ViewBag.DohodDivs == true)
                {
                    <th style="text-align:right;">
                        future
                    </th>
                    <th style="border-right-color:black; border-right-width: 1px;text-align:right;">
                        @*Даты*@

                        @if (ViewBag.SortMode == "byTime")
                        {
                            <div>
                                Даты<span style="color:red;">&#9660;</span>
                            </div>
                        }
                        else
                        {
                            <div>
                                <a asp-controller="SecVolume" asp-action="SecVolumeLast3YearsDynamic"
                                    asp-route-sortMode="byTime" style="text-decoration: none">
                                    Даты<span style="color:red;">&#9661;</span>
                                </a>
                            </div>
                        }
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) 
            {
                <tr>
                    <td style="border-left-color:black; border-left-width: 1px;">
                        @Html.DisplayFor(modelItem => item.SecCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                        <td style="
                                text-align:right;
                                border-right-color:black;
                                border-right-width: 1px;
                                border-left-color:black; 
                                border-left-width: 1px;">
                        @Html.DisplayFor(modelItem => item.PreviousPreviousYearPieces)
                    </td>
                    <td style="text-align:right;">
                        @Html.DisplayFor(modelItem => item.PreviousYearPieces)
                    </td>
                    @{
                        string color = "white;";
                        // calculate color
                        switch (item.LastYearChanges)
                        {
                            case 0:
                                break;
                            case < 5:
                                color = "#E8F5E9;";
                                break;
                            case < 15:
                                color = "#C8E6C9;";
                                break;
                            case < 20:
                                color = "#A5D6A7;";
                                break;
                            case < 25:
                                color = "#81C784;";
                                break;
                            case < 30:
                                color = "#66BB6A; color:white;";
                                break;
                            case < 35:
                                color = "#4CAF50; color:white;";
                                break;
                            case < 50:
                                color = "#43A047; color:white;";
                                break;
                            case < 70:
                                color = "#388E3C; color:white;";
                                break;
                            case < 90:
                                color = "#2E7D32; color:white;";
                                break;
                            case >= 90:
                                color = "#1B5E20; color:white;";
                                break;
                        }
                    }
                        <td style="
                                text-align:right;
                                border-left-color:black; 
                                border-left-width: 1px; 
                                background-color: @color">
                        @Html.DisplayFor(modelItem => item.LastYearChanges)
                        %   
                    </td>
                    <td style="text-align:right;">
                        @Html.DisplayFor(modelItem => item.LastYearPieces)
                    </td>
                    <td style="text-align:right;border-right-color:black; border-right-width: 1px;">
                        @Html.DisplayFor(modelItem => item.LastYearVolume)
                    </td>
                    <td style="border-right-color:black; border-right-width: 1px;">
                        <div style="color:darkgreen;">                            
                            @{
                                WishListItemModel wish = wishList.Find(x => x.SecCode.Equals(item.SecCode));
                                if (wish is not null)
                                {
                                    StringBuilder level = new StringBuilder(5);

                                    @for (int i = 0; i < wish.Level; i++)
                                    {
                                        level.Append("▉");
                                    }
                                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="@wish.Description">
                                        @level
                                    </span>
                                }
                            }
                        </div>
                    </td>

                    @if (ViewBag.SmartLab == true)
                    {
                        string tiker = item.SecCode.Substring(0, 4);
                        string link = "https://smart-lab.ru/q/" + tiker + "/dividend/";
                        <td style="
                                    border-right-color:black; 
                                    border-right-width: 1px;
                                    text-align:right; 
                                    background-color:@item.LineColor;">
                            <a href="@link" target="_blank" style=" text-decoration: none;
                                                                    background-color:@item.LineColor;">
                                @if (item.SmartLabDividents is not null)
                                {
                                    <div style="">
                                        @Html.DisplayFor(modelItem => item.SmartLabDividents)
                                    </div>
                                }
                                else
                                {
                                    <div style="">
                                        &nbsp;
                                    </div>
                                }                                    
                            </a>
                        </td>                            
                    }

                    @if (ViewBag.Vsdelke == true)
                    {
                        <td style="
                                    border-right-color:black; 
                                    border-right-width: 1px;
                                    text-align:right; 
                                    background-color:@item.LineColor;">
                            @Html.DisplayFor(modelItem => item.VsdelkeDividents)
                        </td>
                    }
                    @if (ViewBag.DohodDivs == true)
                    {
                        string link = "https://www.dohod.ru/ik/analytics/dividend/" + item.SecCode.ToLower();
                        <td style="
                                    border-right-color:black; 
                                    border-right-width: 1px;
                                    text-align:right; 
                                    background-color:@item.LineColor;">
                            <a href="@link" target="_blank" style="text-decoration: none; background-color:@item.LineColor;">
                                @if (item.DohodDividents is not null)
                                {
                                    <div style="">
                                        @Html.DisplayFor(modelItem => item.DohodDividents)
                                    </div>
                                }
                                else
                                {
                                    <div style="">
                                        &nbsp;
                                    </div>
                                }
                            </a>
                        </td>
                        <td style="border-right-color:black; border-right-width: 1px;text-align:right;">
                            @if (item.NextDivDate > DateTime.MinValue)
                            {
                                string txtColor = "black";
                                string txtWeight = "normal";
                                if (item.NextDivDate <= DateTime.Now.AddMonths(4))
                                {
                                    txtColor = "darkred";
                                }

                                if (item.NextDivDate <= DateTime.Now.AddMonths(3))
                                {
                                    txtColor = "red";
                                }
                                        
                                if (item.NextDivDate <= DateTime.Now.AddMonths(2))
                                {
                                    txtColor = "orange";
                                }
                                        
                                if (item.NextDivDate <= DateTime.Now.AddMonths(1))
                                {
                                    txtWeight = "bold";
                                }
                                <span style="font-weight: @txtWeight; color: @txtColor;">
                                    @Html.DisplayFor(modelItem => item.NextDivDate)
                                </span>
                            }                              
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
