@using System.Globalization
@model IEnumerable<DataAbstraction.Models.YearView.YearViewModel>

<div class="container" style="margin-left:17%;">
    @if (ViewBag.MonthAverage is not null)
    {
        <h3>Сводная таблица дивидендов за последние 12 месяцев, @ViewBag.MonthAverage руб в среднем в месяц</h3>
    }
    else
    {
        <h3>Сводная таблица дивидендов за последние 12 месяцев</h3>
    }
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th colspan="3">
                    
                </th>
                @if (DateTime.Now.Month < 12)
                {
                    <th colspan="@(12 - DateTime.Now.Month)" style="background-color:lightcyan; 
                                                                    text-align:center;
                                                                    border-top: 1px solid lightgray;
                                                                    border-bottom: 1px solid lightgray; 
                                                                    border-left: 1px solid lightgray;">
                        @DateTime.Now.AddMonths(- DateTime.Now.Month).Year
                    </th>
                }
                <th colspan="@DateTime.Now.Month" 
                    style="background-color:aquamarine; 
                            border: 1px solid lightgray; 
                            text-align:center;">
                    @DateTime.Now.Year
                </th>
                <td colspan="2">
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SecCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th style="text-align: center;">
                    @Html.DisplayNameFor(model => model.Volume)
                </th>
                <th style="text-align: center;">
                    @* @Html.DisplayNameFor(model => model.Jan) *@
                    @DateTime.Now.AddMonths(-11).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-10).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-9).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-8).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-7).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-6).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-5).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-4).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-3).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-2).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-1).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @Html.DisplayNameFor(model => model.Summ)
                </th>
                <th style="text-align: center;">
                    @Html.DisplayNameFor(model => model.DivPercent)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td style="text-align: right;">
                        @Html.DisplayFor(modelItem => item.Volume)
                    </td>
                    @{
                        if (item.Jan != null)
                        {
                            <td data-bs-toggle="tooltip" data-bs-placement="top" title="@item.FullName @DateTime.Now.AddMonths(-11).ToString("MMMM")"
                                style="text-align: right;">
                                @Html.DisplayFor(modelItem => item.Jan)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Jan)
                            </td>
                        }

                        if (item.Feb != null)
                        {
                            <td data-bs-toggle="tooltip" data-bs-placement="top" title="@item.FullName @DateTime.Now.AddMonths(-10).ToString("MMMM")"
                                style="text-align: right;">
                                @Html.DisplayFor(modelItem => item.Feb)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Feb)
                            </td>
                        }

                        if (item.Mar != null)
                        {
                            <td data-bs-toggle="tooltip" data-bs-placement="top" title="@item.FullName @DateTime.Now.AddMonths(-9).ToString("MMMM")"
                                style="text-align: right;">
                                @Html.DisplayFor(modelItem => item.Mar)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Mar)
                            </td>
                        }

                        if (item.Apr != null)
                        {
                            <td data-bs-toggle="tooltip" data-bs-placement="top" title="@item.FullName @DateTime.Now.AddMonths(-8).ToString("MMMM")"
                                style="text-align: right;">
                                @Html.DisplayFor(modelItem => item.Apr)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Apr)
                            </td>
                        }

                        if (item.May != null)
                        {
                            <td data-bs-toggle="tooltip" data-bs-placement="top" title="@item.FullName @DateTime.Now.AddMonths(-7).ToString("MMMM")"
                                style="text-align: right;">
                                @Html.DisplayFor(modelItem => item.May)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.May)
                            </td>
                        }

                        if (item.Jun != null)
                        {
                            <td data-bs-toggle="tooltip" data-bs-placement="top" title="@item.FullName @DateTime.Now.AddMonths(-6).ToString("MMMM")"
                                style="text-align: right;">
                                @Html.DisplayFor(modelItem => item.Jun)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Jun)
                            </td>
                        }

                        if (item.Jul != null)
                        {
                            <td data-bs-toggle="tooltip" data-bs-placement="top" title="@item.FullName @DateTime.Now.AddMonths(-5).ToString("MMMM")"
                                style="text-align: right;">
                                @Html.DisplayFor(modelItem => item.Jul)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Jul)
                            </td>
                        }

                        if (item.Aug != null)
                        {
                            <td data-bs-toggle="tooltip" data-bs-placement="top" title="@item.FullName @DateTime.Now.AddMonths(-4).ToString("MMMM")"
                                style="text-align: right;">
                                @Html.DisplayFor(modelItem => item.Aug)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Aug)
                            </td>
                        }

                        if (item.Sep != null)
                        {
                            <td data-bs-toggle="tooltip" data-bs-placement="top" title="@item.FullName @DateTime.Now.AddMonths(-3).ToString("MMMM")"
                                style="text-align: right;">
                                @Html.DisplayFor(modelItem => item.Sep)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Sep)
                            </td>
                        }

                        if (item.Okt != null)
                        {
                            <td data-bs-toggle="tooltip" data-bs-placement="top" title="@item.FullName @DateTime.Now.AddMonths(-2).ToString("MMMM")"
                                style="text-align: right;">
                                @Html.DisplayFor(modelItem => item.Okt)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Okt)
                            </td>
                        }

                        if (item.Nov != null)
                        {
                            <td data-bs-toggle="tooltip" data-bs-placement="top" title="@item.FullName @DateTime.Now.AddMonths(-1).ToString("MMMM")"
                                style="text-align: right;">
                                @Html.DisplayFor(modelItem => item.Nov)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Nov)
                            </td>
                        }

                        if (item.Dec != null)
                        {
                            <td data-bs-toggle="tooltip" data-bs-placement="top" title="@item.FullName @DateTime.Now.ToString("MMMM")"
                                style="text-align: right;">
                                @Html.DisplayFor(modelItem => item.Dec)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Dec)
                            </td>
                        }
                    }

                    <td style="font-weight: bold; text-align: right;">
                        @Html.DisplayFor(modelItem => item.Summ)
                    </td>

                    <td style="text-align: right;">
                        @{
                            if (item.DivPercent != null && item.DivPercent > 0)
                            {
                                @Html.DisplayFor(modelItem => item.DivPercent)<span>%</span>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>