@using System.Globalization
@model IEnumerable<DataAbstraction.Models.YearView.YearViewBondModel>

@{
    ViewData["Title"] = "Bonds table";
    decimal totalVolume = 0;
    decimal totalFaktDivs = 0;
    decimal totalExpectDivs = 0;
}

<div class="container" style="margin-left:17%;">
    <h3>Таблица дивидендов облигаций за последние 12 месяцев</h3>

    @if (ViewData["Message"] is not null)
    {
        <p style="color: red">@ViewData["Message"]</p>
    }

    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th colspan="2">

                </th>
                @if (DateTime.Now.Month < 12)
                {
                    <th colspan="@(12 - DateTime.Now.Month)" style="background-color:lightcyan; 
                                                                    text-align:center;
                                                                    border-top: 1px solid lightgray;
                                                                    border-bottom: 1px solid lightgray; 
                                                                    border-left: 1px solid lightgray;">
                        @DateTime.Now.AddMonths(- DateTime.Now.Month).Year
                    </th>
                }
                <th colspan="@DateTime.Now.Month" 
                style="background-color:aquamarine; 
                            border: 1px solid lightgray; 
                            text-align:center;">
                    @DateTime.Now.Year
                </th>
                <td colspan="2">
                </td>
                <th colspan="2" style="text-align: center;">
                    Ожидается за год
                </th>
            </tr>
            <tr>
                <th>
                    Инструмент
                </th>

                <th style="text-align: center;">
                    Объём
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-11).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-10).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-9).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-8).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-7).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-6).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-5).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-4).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-3).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-2).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.AddMonths(-1).ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    @DateTime.Now.ToString("MMM", CultureInfo.InvariantCulture)
                </th>
                <th style="text-align: center;">
                    Факт руб
                </th>
                <th style="text-align: center;">
                    Факт%
                </th>
                <th style="text-align: center;">
                    руб
                </th>
                <th style="text-align: center;">
                    %
                </th>
            </tr>
        </thead>
        <tbody>
            @if(Model is not null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td style="text-align: right;">
                            @Html.DisplayFor(modelItem => item.Volume)
                            @{totalVolume = totalVolume + item.Volume;}
                        </td>
                        @{
                            if (item.Jan != null)
                            {
                                <td data-bs-toggle="tooltip" data-bs-placement="top" 
                                title="@item.FullName @DateTime.Now.AddMonths(-11).ToString("MMMM")"
                                style="text-align: right;">
                                    @Html.DisplayFor(modelItem => item.Jan)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Jan)
                                </td>
                            }

                            if (item.Feb != null)
                            {
                                <td data-bs-toggle="tooltip" data-bs-placement="top" 
                                title="@item.FullName @DateTime.Now.AddMonths(-10).ToString("MMMM")"
                                style="text-align: right;">
                                    @Html.DisplayFor(modelItem => item.Feb)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Feb)
                                </td>
                            }

                            if (item.Mar != null)
                            {
                                <td data-bs-toggle="tooltip" data-bs-placement="top" 
                                title="@item.FullName @DateTime.Now.AddMonths(-9).ToString("MMMM")"
                                style="text-align: right;">
                                    @Html.DisplayFor(modelItem => item.Mar)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mar)
                                </td>
                            }

                            if (item.Apr != null)
                            {
                                <td data-bs-toggle="tooltip" data-bs-placement="top" 
                                title="@item.FullName @DateTime.Now.AddMonths(-8).ToString("MMMM")"
                                style="text-align: right;">
                                    @Html.DisplayFor(modelItem => item.Apr)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Apr)
                                </td>
                            }

                            if (item.May != null)
                            {
                                <td data-bs-toggle="tooltip" data-bs-placement="top" 
                                title="@item.FullName @DateTime.Now.AddMonths(-7).ToString("MMMM")"
                                style="text-align: right;">
                                    @Html.DisplayFor(modelItem => item.May)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.May)
                                </td>
                            }

                            if (item.Jun != null)
                            {
                                <td data-bs-toggle="tooltip" data-bs-placement="top" 
                                title="@item.FullName @DateTime.Now.AddMonths(-6).ToString("MMMM")"
                                style="text-align: right;">
                                    @Html.DisplayFor(modelItem => item.Jun)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Jun)
                                </td>
                            }

                            if (item.Jul != null)
                            {
                                <td data-bs-toggle="tooltip" data-bs-placement="top" 
                                title="@item.FullName @DateTime.Now.AddMonths(-5).ToString("MMMM")"
                                style="text-align: right;">
                                    @Html.DisplayFor(modelItem => item.Jul)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Jul)
                                </td>
                            }

                            if (item.Aug != null)
                            {
                                <td data-bs-toggle="tooltip" data-bs-placement="top" 
                                title="@item.FullName @DateTime.Now.AddMonths(-4).ToString("MMMM")"
                                style="text-align: right;">
                                    @Html.DisplayFor(modelItem => item.Aug)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Aug)
                                </td>
                            }

                            if (item.Sep != null)
                            {
                                <td data-bs-toggle="tooltip" data-bs-placement="top" 
                                title="@item.FullName @DateTime.Now.AddMonths(-3).ToString("MMMM")"
                                style="text-align: right;">
                                    @Html.DisplayFor(modelItem => item.Sep)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sep)
                                </td>
                            }

                            if (item.Okt != null)
                            {
                                <td data-bs-toggle="tooltip" data-bs-placement="top" 
                                title="@item.FullName @DateTime.Now.AddMonths(-2).ToString("MMMM")"
                                style="text-align: right;">
                                    @Html.DisplayFor(modelItem => item.Okt)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Okt)
                                </td>
                            }

                            if (item.Nov != null)
                            {
                                <td data-bs-toggle="tooltip" data-bs-placement="top" 
                                title="@item.FullName @DateTime.Now.AddMonths(-1).ToString("MMMM")"
                                style="text-align: right;">
                                    @Html.DisplayFor(modelItem => item.Nov)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nov)
                                </td>
                            }

                            if (item.Dec != null)
                            {
                                <td data-bs-toggle="tooltip" data-bs-placement="top" 
                                title="@item.FullName @DateTime.Now.ToString("MMMM")"
                                style="text-align: right;">
                                    @Html.DisplayFor(modelItem => item.Dec)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dec)
                                </td>
                            }
                        }

                        <td style="font-weight: bold; text-align: right;">
                            @Html.DisplayFor(modelItem => item.Summ)
                            @{totalFaktDivs = totalFaktDivs + (item.Summ is null ? 0 : (decimal)item.Summ);}
                        </td>

                        <td style="text-align: right;">
                            @{
                                if (item.DivPercent != null && item.DivPercent > 0)
                                {
                                    @Html.DisplayFor(modelItem => item.DivPercent)<span>%</span>
                                }
                            }
                        </td>
                        <td style="font-weight: bold; text-align: right;">
                            @Html.DisplayFor(modelItem => item.ExpectedForYearDivSumm)
                            @{
                                totalExpectDivs = totalExpectDivs + item.ExpectedForYearDivSumm;
                            }
                        </td>

                        <td style="text-align: right;">
                            @Html.DisplayFor(modelItem => item.ExpectedForYearDivPercent)<span>%</span>
                        </td>
                    </tr>
                }
                <tr>
                    <th>
                        Итого:
                    </th>
                    <th style ="text-align: right;">
                        @totalVolume.ToString("#.#0")
                    </th>
                    <th colspan="12">
                    </th>
                    <th style="text-align: right;">
                        @totalFaktDivs.ToString("#.#0")
                    </th>
                    <th style="text-align: right;">
                        @{
                            decimal faktPercent = totalFaktDivs / (totalVolume / 100);
                        }
                        @faktPercent.ToString("#.#0")<span>%</span>
                    </th>
                    <th style="text-align: right;">
                        @totalExpectDivs.ToString("#.#0")
                    </th>
                    <th style="text-align: right;">
                        @{
                            decimal expectPercent = totalExpectDivs / (totalVolume / 100);
                        }
                        @expectPercent.ToString("#.#0")<span>%</span>
                    </th>
                </tr>
            }            
        </tbody>
    </table>

    <p>Ожидаемый доход от облигаций оценивается из рассчета БУДУЩИХ 12 выплат в год. 
        Если заведешь облигашки с другими параметрами - доделывай, надо тащить откуда-то актуальный параметр 
        YearViewBondModel/PaymentCountInYear
    </p>

</div>