@using DataAbstraction.Models
@using DataAbstraction.Models.SecCodes
@model SecCodesWithPaginations


@{
    ViewData["Title"] = "SecCodes";
}

<div class="container">

    <div class="row">
        <div class="col">
            @if (ViewBag.Active)
            {
                <h2>Список только активных инструментов</h2>
            }
            else
            {
                <h2>Список инструментов</h2>
            }            
        </div>
        <div class="col" style="text-align: right;">
            @if (User.IsInRole("Admin"))
            {
                <a asp-area="" asp-controller="SecCodes" asp-action="Create" class="btn btn-success">Добавить</a>
            }
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SecCodes.ElementAt(0).SecCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecCodes.ElementAt(0).SecBoard)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecCodes.ElementAt(0).Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecCodes.ElementAt(0).FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecCodes.ElementAt(0).ISIN)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.SecCodes.ElementAt(0).ExpiredDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecCodes.ElementAt(0).PaysPerYear)
                </th>
                @if (User.IsInRole("Admin"))
                {
                    <th>@* button *@</th>
                }                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SecCodes) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecCode)
                    </td>
                    <td>
                        @StaticData.SecBoards[StaticData.SecBoards.FindIndex(sb => sb.Id == item.SecBoard)].Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISIN)
                    </td>
                    <td align="center">
                        @if (item.ExpiredDate is not null)
                        {
                            @Convert.ToDateTime(item.ExpiredDate).ToString("yyyy-MM-dd")
                        }                    
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.PaysPerYear)
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink(
                                "Edit", 
                                "Edit", 
                                new { secCode = item.SecCode }, 
                                new { @class = "btn btn-primary btn-sm" })
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div>
        @if (Model.PageViewModel.HasNextPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber + 1)" asp-route-showOnlyActive="@ViewBag.Active"
                class="btn btn-secondary"> Назад </a>
        }
        <span> Page #</span> @Model.PageViewModel.PageNumber <span> From </span> @Model.PageViewModel.TotalPages <span> </span>
        @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageViewModel.PageNumber - 1)" asp-route-showOnlyActive="@ViewBag.Active"
                class="btn btn-secondary"> Вперед</a>
        }
    </div>
</div>