@using DataAbstraction.Models

@{
    int currentYear = DateTime.Now.Year;
    int prevYear = currentYear - 1;
    int prevPrevYear = currentYear - 2;

    DateTime prev = DateTime.Now;
    int currentMonth = DateTime.Now.Month;
    int prevMonthYear = prev.AddMonths(-1).Year;
    int prevMonth = prev.AddMonths(-1).Month;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Investments</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InvestmentVisualisation.styles.css" asp-append-version="true" />    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
             style="background-image: url(@Url.Content("~/images/inv_cat.png"));
                    background-repeat: no-repeat; 
                    background-position-y:bottom">
            <div class="container">
                <!--container-fluid-->
                <a class="navbar-brand" asp-area="" asp-controller="Incoming" asp-action="Incoming">Мои инвестиции</a>

                @*<div class="btn-group top_menu" role="group">
                    <a class="btn btn-outline-primary @(ViewContext.RouteData.Values["controller"].ToString() == "Incoming" 
                        ? "active" : "")" asp-area="" asp-controller="Incoming" asp-action="Incoming">Входящие деньги</a>
                    <a class="btn btn-outline-primary @(ViewContext.RouteData.Values["controller"].ToString() == "Deals" 
                        ? "active" : "")" asp-area="" asp-controller="Deals" asp-action="Deals">Сделки</a>
                    <a class="btn btn-outline-primary @(ViewContext.RouteData.Values["controller"].ToString() == "Money" 
                        ? "active" : "")" asp-area="" asp-controller="Money" asp-action="Index">Деньги помесячно</a>
                    <a class="btn btn-outline-primary @(ViewContext.RouteData.Values["controller"].ToString() == "YearView" 
                        ? "active" : "")" asp-area="" asp-controller="YearView" asp-action="Index">Таблица за год</a>
                    <a class="btn btn-outline-primary @(ViewContext.RouteData.Values["controller"].ToString() == "SecCodes" 
                        ? "active" : "")" asp-area="" asp-controller="SecCodes" asp-action="Index">Инструменты</a>
                    <a class="btn btn-outline-primary @(ViewContext.RouteData.Values["controller"].ToString() == "SecVolume" 
                        ? "active" : "")" asp-area="" asp-controller="SecVolume" asp-action="Index">Размер позиций</a>
                </div>*@

                <div class="btn-group" role="group" aria-label="TopMenu">
                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-primary dropdown-toggle @(ViewContext.RouteData.Values["controller"].ToString() == "Incoming" ? "active" : "")"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Входящие деньги
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a asp-area="" asp-controller="Incoming" asp-action="Incoming" class="dropdown-item">Список входящих</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Incoming" asp-action="CreateIncoming" class="dropdown-item">Добавить входящие деньги</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a asp-area="" asp-controller="Incoming" asp-action="HelpPage" class="dropdown-item">Help</a>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-primary dropdown-toggle @(ViewContext.RouteData.Values["controller"].ToString() == "Deals" ? "active" : "")"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Сделки
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a asp-area="" asp-controller="Deals" asp-action="Deals" class="dropdown-item">Список сделок</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Deals" asp-action="Create" class="dropdown-item">Добавить сделку</a>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-primary dropdown-toggle 
                                @(ViewContext.RouteData.Values["controller"].ToString() == "Money" ? "active" : "")"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Деньги
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a asp-area="" asp-controller="Money" asp-action="Index" 
                                class="dropdown-item">
                                    Показать последние 12 месяцев
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Money" asp-action="Index" 
                                asp-route-year="@currentYear" class="dropdown-item">
                                    Показать @currentYear год
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Money" asp-action="Index" 
                                asp-route-year="@prevYear" class="dropdown-item">
                                    Показать @prevYear год
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Money" asp-action="Index" 
                                asp-route-year="@prevPrevYear" class="dropdown-item">
                                    Показать @prevPrevYear год
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a asp-area="" asp-controller="Money" asp-action="Recalculate" class="dropdown-item" 
                                    asp-route-year="@currentYear" asp-route-month="@currentMonth">
                                    Recalculate current month
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Money" asp-action="Recalculate" class="dropdown-item"
                                   asp-route-year="@prevMonthYear" asp-route-month="@prevMonth">
                                    Recalculate previous month
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-primary dropdown-toggle 
                                @(ViewContext.RouteData.Values["controller"].ToString() == "YearView" ? "active" : "")"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Таблица за год
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a asp-area="" asp-controller="YearView" asp-action="Last12Month" class="dropdown-item">
                                   Последние 12 месяцев
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a asp-area="" asp-controller="YearView" asp-action="Index" class="dropdown-item">
                                    Этот год с сортировкой по тикеру
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="YearView" asp-action="Index"
                                   class="dropdown-item" asp-route-sortedByVolume="true">
                                    Этот год с сортировкой по объему
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="YearView" asp-action="Index" asp-route-year="@prevYear" 
                                    class="dropdown-item">
                                    Предыдущий год
                            </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="YearView" asp-action="Index" asp-route-year="@prevPrevYear" 
                                class="dropdown-item">2 года назад</a>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-primary dropdown-toggle 
                                @(ViewContext.RouteData.Values["controller"].ToString() == "SecCodes" ? "active" : "")"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Инструменты
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a asp-area="" asp-controller="SecCodes" asp-action="Index" class="dropdown-item">
                                    Список инструментов
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="SecCodes" asp-action="Create" class="dropdown-item">
                                    Добавить инструмент
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-primary dropdown-toggle 
                                @(ViewContext.RouteData.Values["controller"].ToString() == "SecVolume" ? "active" : "")"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Размер позиций
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a asp-area="" asp-controller="SecVolume" asp-action="VolumeChart" class="dropdown-item">
                                    Chart
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a asp-area="" asp-controller="SecVolume" asp-action="SecVolumeLast3YearsDynamic"
                                   class="dropdown-item">Динамика позиций за 3 года сортированная по тикеру</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="SecVolume" asp-action="SecVolumeLast3YearsDynamic"
                                   class="dropdown-item" asp-route-sortMode="byVolume">
                                   Динамика позиций за 3 года сортированная по объему
                               </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="SecVolume" asp-action="SecVolumeLast3YearsDynamic"
                                   class="dropdown-item" asp-route-sortMode="byTime">
                                    Динамика позиций за 3 года сортированная по времени
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a asp-area="" asp-controller="SecVolume" asp-action="Index" class="dropdown-item">
                                    Список позиций
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a asp-area="" asp-controller="SecVolume" asp-action="Recalculate" asp-route-year="@currentYear" 
                                class="dropdown-item">
                                    Recalculate @currentYear
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="SecVolume" asp-action="Recalculate" asp-route-year="@prevYear" 
                                class="dropdown-item">
                                    Recalculate @prevYear
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col" style="text-align: right; ">
                    <span class="nav-link text-dark">Остаток: <strong>@StaticData.FreeMoney</strong></span>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <!-- class="container"-->
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("scripts", required: false)
    @await RenderSectionAsync("head", required: false)
</body>
</html>
