@using DataAbstraction.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InvestmentVisualisation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InvestmentVisualisation.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <!--container-fluid-->
                <a class="navbar-brand" asp-area="" asp-controller="Incoming" asp-action="Incoming">Статистика инвестиций</a>
                <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" style="background-color:red;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" @(ViewContext.RouteData.Values["controller"].ToString() == "Incoming" ? "active" : "")>
                            <a class="btn btn-outline-secondary mx-1" asp-area="" asp-controller="Incoming" asp-action="Incoming">Входящие деньги</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary mx-1" asp-area="" asp-controller="Deals" asp-action="Deals">Сделки</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary mx-1" asp-area="" asp-controller="Money" asp-action="Index">Деньги помесячно</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary mx-1" asp-area="" asp-controller="YearView" asp-action="Index">Таблица за год</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary mx-1" asp-area="" asp-controller="SecCodes" asp-action="Index">Инструменты</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary mx-1" asp-area="" asp-controller="SecVolume" asp-action="Index">Расчет объемов</a>
                        </li>
                        <li class="col" style="text-align: right; ">
                            <span class="nav-link text-dark">Free money: <strong>@StaticData.FreeMoney</strong></span>
                        </li>
                    </ul>
                </div>-->
                <div class="btn-group top_menu" role="group">
                    <a class="btn btn-outline-primary @(ViewContext.RouteData.Values["controller"].ToString() == "Incoming" ? "active" : "")" asp-area="" asp-controller="Incoming" asp-action="Incoming">Входящие деньги</a>
                    <a class="btn btn-outline-primary @(ViewContext.RouteData.Values["controller"].ToString() == "Deals" ? "active" : "")" asp-area="" asp-controller="Deals" asp-action="Deals">Сделки</a>
                    <a class="btn btn-outline-primary @(ViewContext.RouteData.Values["controller"].ToString() == "Money" ? "active" : "")" asp-area="" asp-controller="Money" asp-action="Index">Деньги помесячно</a>
                    <a class="btn btn-outline-primary @(ViewContext.RouteData.Values["controller"].ToString() == "YearView" ? "active" : "")" asp-area="" asp-controller="YearView" asp-action="Index">Таблица за год</a>
                    <a class="btn btn-outline-primary @(ViewContext.RouteData.Values["controller"].ToString() == "SecCodes" ? "active" : "")" asp-area="" asp-controller="SecCodes" asp-action="Index">Инструменты</a>
                    <a class="btn btn-outline-primary @(ViewContext.RouteData.Values["controller"].ToString() == "SecVolume" ? "active" : "")" asp-area="" asp-controller="SecVolume" asp-action="Index">Размер позиций</a>
                </div>
                <div class="col" style="text-align: right; ">
                    <span class="nav-link text-dark">Остаток: <strong>@StaticData.FreeMoney</strong></span>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <!-- class="container"-->
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
