@using DataAbstraction.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager

@{
    int currentYear = DateTime.Now.Year;
    int prevYear = currentYear - 1;
    int prevPrevYear = currentYear - 2;

    DateTime prev = DateTime.Now;
    int currentMonth = DateTime.Now.Month;
    int prevMonthYear = prev.AddMonths(-1).Year;
    int prevMonth = prev.AddMonths(-1).Month;    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Investments</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InvestmentVisualisation.styles.css" asp-append-version="true" />    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
        style="background-image: url(@Url.Content("~/images/inv_cat.png"));
                    background-repeat: no-repeat; 
                    background-position-y:bottom">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Мои инвестиции</a>

                <div class="btn-group" role="group" aria-label="TopMenu">
                    <div class="btn-group" role="group">
                        @{
                            string isActive = "";
                            if (ViewContext is not null && 
                                ViewContext.RouteData is not null && 
                                ViewContext.RouteData.Values is not null && (
                                ViewContext.RouteData.Values["controller"].ToString() == "Incoming" || 
                                ViewContext.RouteData.Values["controller"].ToString() == "Deals"))
                            {
                                isActive = "active";
                            }
                        }

                        <button class="btn btn-outline-primary dropdown-toggle @isActive"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Операции
                        </button>
                        <ul class="dropdown-menu">
                            @if (signInManager is not null && signInManager.IsSignedIn(User))
                            {
                                <li>
                                    <a asp-controller="Incoming" asp-action="Incoming" class="dropdown-item">
                                        Список движений денег
                                    </a>
                                </li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a asp-controller="Incoming" asp-action="CreateIncoming" class="dropdown-item">
                                            Добавить входящие деньги
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Incoming" asp-action="CreateSeveralIncomings" class="dropdown-item">
                                            Добавить несколько входящих
                                        </a>
                                    </li>
                                }
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a asp-controller="Deals" asp-action="Deals" class="dropdown-item">
                                        Список сделок
                                    </a>
                                </li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a asp-controller="Deals" asp-action="Create" class="dropdown-item">
                                            Добавить сделку
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Deals" asp-action="CreateNewDeals" class="dropdown-item">
                                            Добавить несколько сделок
                                        </a>
                                    </li>
                                }
                                <li><hr class="dropdown-divider"></li>
                            }                            
                            <li>
                                <a asp-controller="Incoming" asp-action="HelpPage" class="dropdown-item">
                                    Как закрывать позиции
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-primary dropdown-toggle 
                                @(ViewContext.RouteData.Values["controller"].ToString() == "Money" ? "active" : "")"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Деньги
                        </button>
                        <ul class="dropdown-menu">
                            @if (signInManager is not null && signInManager.IsSignedIn(User))
                            {
                                <li>
                                    <a asp-controller="Money" asp-action="Index" class="dropdown-item">
                                        Показать последние 12 месяцев
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Money" asp-action="Index" asp-route-year="@currentYear" class="dropdown-item">
                                        Показать @currentYear год
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Money" asp-action="Index" asp-route-year="@prevYear" class="dropdown-item">
                                        Показать @prevYear год
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Money" asp-action="Index" asp-route-year="@prevPrevYear" class="dropdown-item">
                                        Показать @prevPrevYear год
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a asp-controller="Money" asp-action="Recalculate" class="dropdown-item"
                                           asp-route-year="@currentYear" asp-route-month="@currentMonth">
                                            Пересчитать этот месяц
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Money" asp-action="Recalculate" class="dropdown-item"
                                           asp-route-year="@prevMonthYear" asp-route-month="@prevMonth">
                                            Пересчитать предыдущий месяц
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                }
                                <li>
                                    <a asp-controller="BankDeposits" asp-action="index" class="dropdown-item">
                                        Список активных банковских вкладов
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="BankDeposits" asp-action="index" class="dropdown-item"
                                       asp-route-showOnlyActive="false">
                                        Список всех банковских вкладов
                                    </a>
                                </li>
                            }
                            <li>
                                <a asp-controller="BankDeposits" asp-action="Chart" class="dropdown-item">
                                    График банковских вкладов
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            @if (signInManager is not null && signInManager.IsSignedIn(User))
                            {
                                <li>
                                    <a asp-controller="MoneySpent" asp-action="index" class="dropdown-item"
                                       asp-route-showOnlyActive="false">
                                        Список приходов/расходов
                                    </a>
                                </li>
                            }
                            <li>
                                <a asp-controller="MoneySpent" asp-action="MoneySpentAndIncomeOfLast12MonthChart" 
                                        class="dropdown-item">
                                    График приходов/расходов за последний год
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-primary dropdown-toggle
                                    @(ViewContext.RouteData.Values["controller"].ToString() == "YearView" ? "active" : "")"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Дивиденды за год
                        </button>
                        <ul class="dropdown-menu">
                            @if (signInManager is not null && signInManager.IsSignedIn(User))
                            {
                                <li>
                                    <a asp-controller="YearView" asp-action="Last12Month" class="dropdown-item">
                                        Последние 12 месяцев
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a asp-controller="YearView" asp-action="Index" class="dropdown-item">
                                        Этот год с сортировкой по тикеру
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="YearView" asp-action="Index" class="dropdown-item"
                                        asp-route-sortedByVolume="true">
                                        Этот год с сортировкой по объему
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="YearView" asp-action="Index" asp-route-year="@prevYear" class="dropdown-item">
                                        Предыдущий год
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="YearView" asp-action="Index" asp-route-year="@prevPrevYear" class="dropdown-item">
                                        2 года назад
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a asp-controller="YearView" asp-action="Last12MonthBonds" class="dropdown-item">
                                        Облигации
                                    </a>
                                </li>                                
                            }
                            <li>
                                <a asp-controller="Money" asp-action="ExpectedMonthBondDividentsChart" class="dropdown-item">
                                    Ожидаемые даты выплат по облигациям
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a asp-controller="Money" asp-action="ExpectedDividentsChart" class="dropdown-item">
                                    График ожидаемых приходов дивидентов
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Money" asp-action="ExpectedFutureStockDividentsChart" class="dropdown-item">
                                    График дат ожидаемых приходов дивидентов
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-primary dropdown-toggle 
                                @(ViewContext.RouteData.Values["controller"].ToString() == "SecCodes" || 
                                    ViewContext.RouteData.Values["controller"].ToString() == "WishList"
                                    ? "active" : "")"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Инструменты
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a asp-controller="SecCodes" asp-action="Index" class="dropdown-item">
                                    Список инструментов
                                </a>
                            </li>
                            <li>
                                <a asp-controller="SecCodes" asp-action="Index" class="dropdown-item"
                                   asp-route-showOnlyActive="true">
                                    Список только активных инструментов
                                </a>
                            </li>
                            @if (signInManager is not null && signInManager.IsSignedIn(User))
                            {
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a asp-controller="SecCodes" asp-action="Create" class="dropdown-item">
                                            Добавить инструмент
                                        </a>
                                    </li>
                                }
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a asp-controller="WishList" asp-action="WishList" class="dropdown-item">
                                        Показать Wish list
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="WishList" asp-action="WishList" class="dropdown-item"
                                       asp-route-sortMode="byLevel">
                                        Показать Wish list сортированный по уровню
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="WishList" asp-action="EditWishLevelsWeight" class="dropdown-item">
                                        Редактировать уровни Wish list
                                    </a>
                                </li>
                            }
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a asp-controller="WishList" asp-action="VolumeChart" class="dropdown-item">
                                    График объемов по уровням Wish
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-primary dropdown-toggle 
                                    @(ViewContext.RouteData.Values["controller"].ToString() == "SecVolume" ? "active" : "")"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Размер позиций
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a asp-controller="SecVolume" asp-action="VolumeChart" class="dropdown-item">
                                    График объемов позиций и размера требуемой докупки
                                </a>
                            </li>
                            <li>
                                <a asp-controller="SecVolume" asp-action="InstrumentsTypeVolumeChart" class="dropdown-item">
                                    График сравнения объемов позиций разных типов
                                </a>
                            </li>
                            <li>
                                <a asp-controller="SecVolume" asp-action="SharesVolumeChart" class="dropdown-item">
                                    График объемов акций
                                </a>
                            </li>
                            @if (signInManager is not null && signInManager.IsSignedIn(User))
                            {
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a asp-controller="SecVolume" asp-action="SecVolumeLast3YearsDynamic" class="dropdown-item">
                                        Динамика позиций за 3 года сортированная по тикеру
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="SecVolume" asp-action="SecVolumeLast3YearsDynamic" class="dropdown-item"
                                       asp-route-sortMode="byVolume">
                                        Динамика позиций за 3 года сортированная по объему
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="SecVolume" asp-action="SecVolumeLast3YearsDynamic" class="dropdown-item" \
                                       asp-route-sortMode="byTime">
                                        Динамика  позиций за 3 года  сортированная по времени
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="SecVolume" asp-action="SecVolumeLast3YearsDynamic" class="dropdown-item" \
                                       asp-route-sortMode="byTimeFiltered">
                                        Динамика только моих позиций за 3 года сортированная по времени
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="SecVolume" asp-action="SecVolumeLast3YearsDynamic" class="dropdown-item" \
                                       asp-route-sortMode="byWish">
                                        Динамика позиций за 3 года сортированная по уровню wish
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a asp-controller="SecVolume" asp-action="Index" class="dropdown-item">
                                        Список позиций
                                    </a>
                                </li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a asp-controller="SecVolume" asp-action="Recalculate" asp-route-year="@currentYear"
                                           class="dropdown-item">
                                            Пересчитать позиции за @currentYear
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="SecVolume" asp-action="Recalculate" asp-route-year="@prevYear"
                                           class="dropdown-item">
                                            Пересчитать позиции за @prevYear
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>

                </div>

                <div class="col" style="text-align: right; ">
                    <span class="nav-link text-dark">Остаток: <strong>@StaticData.FreeMoney</strong></span>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @if (ViewBag.ChartItemsCount is not null)
    {
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    }
    @* <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("scripts", required: false)
    @await RenderSectionAsync("head", required: false)
</body>
</html>
