@using DataAbstraction.Models
@using DataAbstraction.Models.Deals

@model DealsWithPaginations

@{
    ViewData["Title"] = "Deals";
}

<h2>Сделки</h2>

<p>
    <a asp-area="" asp-controller="Deals" asp-action="Create" class="btn btn-primary"> Добавить </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Deals.ElementAt(0).Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deals.ElementAt(0).Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deals.ElementAt(0).SecCode)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Deals.ElementAt(0).SecBoard)
            </th>

            <th style="text-align:right;">
                @Html.DisplayNameFor(model => model.Deals.ElementAt(0).AvPrice)
            </th>
            <th style="text-align:right;">
                @Html.DisplayNameFor(model => model.Deals.ElementAt(0).Pieces)
            </th>
            <th style="text-align:right;">
                @Html.DisplayNameFor(model => model.Deals.ElementAt(0).Comission)
            </th>
            <th style="text-align:right;">
                @Html.DisplayNameFor(model => model.Deals.ElementAt(0).NKD)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Deals) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecCode)
            </td>
            <td>
                @StaticData.SecBoards[StaticData.SecBoards.FindIndex(sb => sb.Id == item.SecBoard)].Name
            </td>
            <td style="text-align:right;">
                @Html.DisplayFor(modelItem => item.AvPrice)
            </td>
            <td style="text-align:right;">
                @Html.DisplayFor(modelItem => item.Pieces)
            </td>
            <td style="text-align:right;">
                @Html.DisplayFor(modelItem => item.Comission)
            </td>
            <td style="text-align:right;">
                @Html.DisplayFor(modelItem => item.NKD)
            </td>

            <td style="text-align:right;">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm"  })
                    &nbsp;&nbsp;&nbsp;
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm"  })
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Deals" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="btn btn-secondary"> Назад </a>
}
<span> Page #</span> @Model.PageViewModel.PageNumber <span> From </span> @Model.PageViewModel.TotalPages <span> </span>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Deals" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="btn btn-secondary"> Вперед</a>
}
